{% from "govuk/components/header/macro.njk" import govukHeader %}

{% macro pinsHeader(homePageURL, productName="", containerClasses="", classes="", attributes={}) %}
    {{ govukHeader({
        homepageUrl: homePageURL,
        productName: productName,
        containerClasses: containerClasses,
        classes: classes,
        attributes: attributes,
    }) }}
{% endmacro %}
