{% from "govuk/components/footer/macro.njk" import govukFooter %}


{% macro pinsFooter(meta = {}, navigation = [], contentLicense = {}, copyright = {}, containerClasses = "", classes = "", attributes = {}) %}
    {{ govukFooter({
        meta: meta,
        navigation: navigation,
        contentLicense: contentLicense,
        copyright: copyright,
        containerClasses: containerClasses,
        classes: classes,
        attributes: attributes
    }) }}

{% endmacro %}